* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --red--: #cd1818;
  --lightred--: #fb5555;
}

hr {
  border: black solid 1px;
}

body {
  font-family: cursive;
}

a {
  text-decoration: none;
}

div.logo {
  font-size: 25px;
}

li {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--red--);
  color: #fff;
}

.nav-links a {
  color: #fff;
}

ul.nav {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
ul.nav li:hover {
  background-color: var(--lightred--);
  border-radius: 5px;
  transition: 0.3s ease;
}
ul.nav li {
  padding: 5px 14px;
}
.services {
  position: relative;
}

.dropdown {
  background-color: var(--lightred--);
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: var(--lightred--);
}

.services:hover .dropdown {
  display: block;
}

a.signin {
  padding: 5px 14px;
}
a.signin:hover {
  background-color: var(--lightred--);
  border-radius: 5px;
  transition: 0.3s ease;
}

div.left h1,
p {
  color: black;
}
div.left p {
  word-wrap: break-word;
}
div.left {
  width: 40%;
  margin: 0 5%;
}

div.right {
  width: 40%;
  margin: 0 5%;
}
div.center {
  display: flex;
}

@keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.slide-images {
  width: auto;
  height: 200px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.img-container {
  height: 400px;
  width: auto;
  position: relative;
  float: left;
}
.slider-frame {
  overflow: hidden;
  height: 400px;
  width: auto;
}
